<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Exam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>administrariak</web-resource-name>
  		<url-pattern>/admin.xhtml</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>administraria</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <security-constraint> 
  <web-resource-collection>
  		<web-resource-name>langileak</web-resource-name>
  		<url-pattern>/langilea.xhtml</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>langilea</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>BASIC</auth-method>
  	<realm-name>WEBGUNEA</realm-name>
  </login-config>
  <security-role>
  	<role-name>administraria</role-name>
  </security-role>
  <security-role>
  	<role-name>langilea</role-name>
  </security-role>
</web-app>